body {
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif;
	color: black;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul,li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
	width: 1170px;
	margin: 0 auto; 
}

.header {
    background: url(img/header-bg.jpg) no-repeat center top / cover;
    padding-bottom: 322px;
    margin-bottom: 113px;
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 57px;
}

header a {
    color: white;
}

.logo {
    margin-right: 70px;
}

.menu {
    display: flex;
}

.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 40px;
    letter-spacing: 0.1em;
}

.tel {
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
}

.offer {
    margin-top: 216px;
}

.offer__title {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 3px;
}

.offer__logo {
    font-size: 100px;
    margin-bottom: 19px;
	margin-top: -9px;
    letter-spacing: 0.02em;
    color: white;
}

.offer__button {
    display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	border: 1px solid #fff;
	width: 238px;
	transition: all 0.5s ease;
    text-decoration: none;
    text-transform: uppercase;
}

.offer__button:hover {
	background: #fff;
    color: #000;
}

.about {
    margin-bottom: 113px;
}

.about-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-title {
    width: 100%;
    font-size: 50px;
    color: black;
    margin-bottom: 58px;
}

.about-block {
    width: 45%;
    margin-right: 36px;
}

.about-block:last-child {
    margin-right: 0px;
}


.about-block-title {

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    text-transform: uppercase;

    color: #000000;

}

.about-txt {
    font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	text-align: justify;
    line-height: 1.5;
}

.gallery {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}

.gallery img {
    transition: all 0.5s ease;
    margin-right: 25px;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

.footer-inner {
    display: flex;
}

.footer__txt {
    margin-right: 50px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	font-size: 15px;
    line-height: 20px;
    padding-bottom: 45px;
    font-weight: 500;
}


